{% extends 'layout.html' %}

{% block body %}
		<h1>Welcome {{ session.username }}</h1>
		<a href="/add_blog" class="btn btn-success">New Blog</a>

		<table class="table table-striped">

			<tr>
				<th>Id</th>
				<th>Title</th>
				<th>Author</th>
				<th>Date</th>
				<th></th>
				<th></th>
			</tr>
			{% for blog in blogs_list %}
				<tr>
					<td>{{ blog.id }}</td>
					<td>{{ blog.title }}</td>
					<td>{{ blog.author }}</td>
					<td>{{ blog.create_date }}</td>
					<td><a href="/edit_blog/{{ blog.id }}" class="btn btn-primary">Edit</a></td>
					<td>
						<form action="{{ url_for('delete_blog', blog_id=blog.id) }}" method="post">
							<input type="hidden" name="_method" value="DELETE">
							<input type="submit" name="Delete" value="Delete" class="btn btn-danger">
						</form>
					</td>
				</tr>
			{% endfor %}
			
		</table>

{% endblock %}